fastapi
uvicorn[standard]
websockets
aiohttp
pytest==7.1.2
pylint==2.17.5
coverage==7.3.2
pillow==10.4.0
numpy==1.26.4
pydub==0.25.1
sqlalchemy==2.0.31
junitparser==3.1.2
google-generativeai
mistralai==1.6.0
together==1.3.14
cohere
openai
groq
ollama
GitPython==3.1.28
json-log-formatter
python-dotenv
jinja2
aiofiles
asyncio
gitpython
aiohttp
pytest